


.benefits-container {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.section {
    width: 50%;
    height: 50%;
    float: left;
    overflow: scroll;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.section h {
    font-size: 48px;
    color: #1C3A83;
}
.section p {
    text-align: left;
    font-size: 16px;
}

.section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section button {
    background-color: #DC2041;
    padding: 10px 40px 10px 40px;
    border-radius: 24px;
    border:none;
    color: white;
    margin-top: 10px;
    font-weight: 400;
}

.container {
    background: url("../images/support-background.png");
}